<div>
  <h4><%= @flat.name %></h4>
  <p><%= @flat.address %></p>
  <p><%= @flat.description %></p>
  <div class="flex row justify-content-around">
    <div class="flex">
      <i class="fas fa-users"></i><span><%= @flat.number_of_guests %></span>
    </div>
    <div class="flex mx-6">
      <i class="fas fa-euro-sign"></i> <%= @flat.price_per_night %>
    </div>
  </div>
</div>
